<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품상세</title>
</head>
<body>
  <h3>상품상세</h3>
  <form action="" method="post">
    <div><label for="">상품ID</label><input type="text" name="productId" id="productId" readonly th:value="${detailForm.productId}"></div>
    <div><label for="">상품명</label><input type="text" name="pname" readonly th:value="${detailForm.pname}"></div>
    <div><label for="">가격</label><input type="text" name="price" readonly th:value="${detailForm.price}"></div>
    <div><label for="">수량</label><input type="text" name="quantity" readonly th:value="${detailForm.quantity}"></div>
  </form>
  <div>
    <button id="btnUpdate">수정</button>
    <button id="btnDelete">삭제</button>
    <button id="btnFindAll">목록</button>
  </div>
  <script>
    const btnUpdateEle = document.getElementById('btnUpdate');
    const btnDeleteEle = document.getElementById('btnDelete');
    const btnFindAllEle = document.getElementById('btnFindAll');

    //삭제
    btnDeleteEle.addEventListener('click',e=>{
      if(!confirm('삭제하시겠습니까')) return;

      const productIdEle = document.getElementById('productId');
      location.href = `/products/${productIdEle.value}/del`;
    },false);

    //목록
    btnFindAllEle.addEventListener('click',e=>{
      location.href = '/products';
    },false);
  </script>
</body>
</html>