<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
</head>
<body>
  <h3>회원가입</h3>
  <form action="" method="POST" th:object="${joinForm}">
    <div><label for="">이메일</label><input type="text" th:field="*{email}"></div>
    <div><label for="">비밀번호</label><input type="password" th:field="*{passwd}"></div>
    <div><label for="">비밀번호확인</label><input type="password" name="passwdChk" id=""></div>
    <div><label for="">전화번호</label><input type="text" th:field="*{tel}"></div>
    <div><label for="">별칭</label><input type="text" th:field="*{nickname}"></div>
    <div>
      <div><span>성별</span></div>
      <div>            
        <label for="">남자</label>       
        <input type="radio" value="남자" th:field="*{gender}">
        <label for="">여자</label>
        <input type="radio" value="여자" th:field="*{gender}">
      </div>
    </div>
    <div>
      <div><span>취미</span></div>
      <div>
        <label for="">독서</label><input type="checkbox" value="독서" th:field="*{hobby}">
        <label for="">음악감상</label><input type="checkbox" value="음악감상" th:field="*{hobby}">
        <label for="">운동</label><input type="checkbox" value="운동" th:field="*{hobby}">
        <label for="">게임</label><input type="checkbox" value="게임" th:field="*{hobby}">
      </div>
    </div>
    <div>
      <label for="">지역</label>
      <select th:field="*{region}">
        <option value="" selected>==선택==</option>
        <option value="A0201">서울</option>
        <option value="A0202">부산</option>
        <option value="A0203">대구</option>
        <option value="A0204">울산</option>
      </select>
    </div>
    <div><button>가입</button><button>취소</button></div>
  </form>
</body>
</html>