<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>초기화면(tymeleaf)</title>
</head>
<body>
<h3 th:if="${!session.isEmpty()}">
  <p><span th:text="${session.loginOkMember.nickname}"></span><span>님 반갑습니다</span></p>
</h3>
<ul th:if="${session.isEmpty()}">
  <li><a href="/login">로그인-SSR</a></li>
  <li><a href="/members/join">회원가입-SSR</a></li>
  <li><a href="/products">상품관리-SSR</a></li>
  <li><a href="/csr/products">상품관리-CSR</a></li>
</ul>
<ul th:if="${!session.isEmpty()}">
  <li><a href="/logout">로그아웃</a></li>
  <li><a href="/products">상품관리-SSR</a></li>
  <li><a href="/csr/products">상품관리-CSR</a></li>
</ul>
</body>
</html>