<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:data-member-id="${session.loginMember?.memberId}"
      th:data-member-email="${session.loginMember?.email}"
      th:data-member-nickname="${session.loginMember?.nickname}"

>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>초기화면(tymeleaf)</title>
  <script type="module" th:inline="javascript">
    let memberId = [[${session.loginMember?.nickname}]]
    let member =  [[${session.loginMember}]]
    console.log(memberId,member);
  </script>
</head>
<body>
<h3 th:if="${!session.isEmpty()}">
  <p><span th:text="${session.loginMember.nickname}"></span><span>님 반갑습니다</span></p>
  <p><span>[[${session.loginMember.nickname}]]</span><span>님 반갑습니다</span></p>
  <th:block th:with="x='Hello <b>Spring!</b>'">
    <p>[[${x}]]</p> <!-- unscape-->
    <p>[(${x})]</p>
  </th:block>
</h3>
<ul th:if="${session.isEmpty()}">
  <li><a href="/login">로그인-SSR</a></li>
  <li><a href="/members/join">회원가입-SSR</a></li>
  <li><a href="/products">상품관리-SSR</a></li>
  <li><a href="/csr/products">상품관리-CSR</a></li>
</ul>
<ul th:if="${!session.isEmpty()}">
  <li><a href="/logout">로그아웃</a></li>
  <li><a href="/products">상품관리-SSR</a></li>
  <li><a href="/csr/products">상품관리-CSR</a></li>
</ul>

</body>
</html>