<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout::main(
      ~{::title},       <!--/* title */-->
      <!--/*--------------------------*/-->
      <!--/* external */-->
      ~{::link},              <!--/* styles */-->
      ~{::script},              <!--/* scripts */-->
      <!--/* internal */-->
      ~{::style},       <!--/* style */-->
      ~{},              <!--/* script */-->
      <!--/*--------------------------*/-->
      ~{::.topmenu},    <!--/* upm */-->
      ~{},      <!--/* header */-->
      ~{::.gnb},         <!--/* gnb */-->
      ~{::main},        <!--/* main */-->
      ~{::.foot},       <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" th:href="@{/css/login/loginForm.css}">
  <style>
    #content .main input {
      outline : 1px solid #000;
    }
  </style>
  <script type="module" th:src="@{/js/login/loginForm.js}"></script>
  <script>
    console.log('interan javascript 수행됨!');
  </script>
</head>
<body>
<div class="wrap">
  <div id="tl"></div>
  <div id="tc">
    <div class="topmenu" th:insert="~{fragment/top::beforeLoginTop}"/>
  </div>
  <div id="tr"></div>
  <div id="banner">
    <header class="head" th:insert="~{fragment/banner::global}"/>
  </div>
  <div id="gnb">
    <nav class="gnb" th:insert="~{fragment/menu::global}"/>
  </div>
  <div id="content">
    <main class="main flex flex-row justify-center py-4">
      <div>
        <h3 class="text-center text-lg my-4">로그인</h3>
        <form class="border p-4 border-black" action="" method="POST" th:object="${loginForm}">
          <div class="mb-4"><label th:for="email">아이디</label><input type="text" th:field="*{email}"><span th:errors="*{email}"></span></div>
          <div class="mb-4"><label th:for="passwd">비밀번호</label><input type="password" th:field="*{passwd}"><span th:errors="*{passwd}"></span></div>
          <div><button class="bg-blue-400 text-white font-bold py-1 px-2 mt-2 rounded hover:bg-blue-600">로그인</button></div>
        </form>
      </div>
    </main>
  </div>
  <div id="foot">
    <footer class="foot" th:insert="~{fragment/footer::global}"/>
  </div>
</div>
</body>
</html>